@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar in display */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer base {
  body {
    @apply antialiased;
  }
}
